version: '3.8'
services:
  nginx:
    build:
      context: ./requirements/nginx
    image: nginx
    ports:
      - "443:443"
    volumes:
      - ${HOST_WP_VOLUME_PATH}:${WP_VOLUME_PATH}
    depends_on:
      - wordpress
    networks:
      - inception
  wordpress:
    build:
      context: ./requirements/wordpress
    image: wordpress
    env_file:
      - ../secrets/secrets.env
      - ./.env
    volumes:
      - ${HOST_WP_VOLUME_PATH}:${WP_VOLUME_PATH}
    depends_on:
      - mariadb
    networks:
      - inception
  mariadb:
    image: mariadb
    build:
      context: ./requirements/mariadb
    env_file:
      - ../secrets/secrets.env
      - ./.env
    volumes:
      - ${HOST_MARIADB_VOLUME_PATH}:${MARIADB_VOLUME_PATH}
    networks:
      - inception
volumes:
  nginx_conf:
    driver: local
  wordpress_data:
    driver: local
  mariadb_data:
    driver: local
networks:
  inception:
    driver: bridge
